/* Regular Styles */

button, input[type="submit"] {
    background-color: #0f0f0f;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    color: white;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: right;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

img {
    padding: 1rem 1rem 1rem 1rem;
}

body {
    background-color: #1f1f1f;
}

p, div {
    transition: opacity 0.5s ease-in-out;
}

p {
    padding: 1rem 1rem 1rem 1rem;
}

.timeline-event {
    background_color: #dfdfdf;
}

.timeline-carousel {
    padding: 1rem 1rem 1rem 1rem;
}

.source-highlight {
    text-decoration: underline;
    text-decoration-color: yellow;
    background-color: rgba(255, 255, 0, 0.3);
    color: #0f0f0f;
    font-weight: 500;
}

.source-highlight:hover {
    color: #5c5c00;
}

.references-highlight {
    text-decoration: underline;
    text-decoration-color: yellow;
    background-color: rgba(255, 255, 0, 0.3);
    color: #f0f0f0;
    font-weight: 500;
}

.references-highlight:hover {
    color: #e0e0e0;
}

.image-source {
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.5rem;
    padding: 0 0 0 0;
}

.carousel-caption {
    bottom: 0;
}

/* Timeline Styles */
* {
    box-sizing: border-box;
}

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container-timeline {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 55%;
}

.container-timeline::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #0f0f0f;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: -5%;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #0f0f0f;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #0f0f0f transparent transparent;
}

.left::after {
    right: -12px;
}

.right::after {
    left: -12px;
}

.content {
    background-color: transparent;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }

    .container-timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container-timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left
    {
        left: 0%
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

/* Animations */

.collapsing {
	transition:height 0.35s ease !important;
}

.carousel-item {
	transition:-webkit-transform 0.6s ease-in-out !important;
	transition:transform 0.6s ease-in-out !important;
	transition:transform 0.6s ease-in-out,-webkit-transform 0.6s ease-in-out !important;
}
.carousel-fade .carousel-item {
    transition-property: opacity !important;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    transition: 0s 0.6s opacity !important;
}

.carousel-control-prev,.carousel-control-next {
	transition:opacity 0.15s ease !important;
}

.carousel-indicators li {
	transition:opacity 0.6s ease !important;
}

.btn {
	transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out !important;
}
